<!DOCTYPE html>
<html>
<head>
	<title>Infrastructure devcenter</title>
	<link rel="stylesheet" type="text/css" href="/public/devcenter.bundle.css">
</head>
<body>

</body>
<script type="text/javascript" src="/public/devcenter.bundle.js"></script>
</html>